.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  border: #0e0d1c 5px solid;
  width: 80%;
  padding: 1em;
  margin-bottom: 1em;
}

.blog-text {
  width: 65%;
}

.blog-text p {
  letter-spacing: 1px;
}

.blog-odd {
  background-color: #1c234a;
}

.blog-even {
  background-color: #335A8C;
}


.blog-links {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-radius: 50%;

}

.blog-links img{
  width: 100%;
}

.thumbnail {
  width: 30%;
}

.rounded {
  border-radius: 50%;
}

.date {
  font-size: 1em;
  margin: 0;
}

.blog-even .date {
  color: #1c234a;
  font-size: 1em;
}

.blog-odd .date {
  color: #335A8C;
  font-size: 1em;
}

/* POSTS */
.blog-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.blog-post-text {
  width: 100%;
}

.blog-post-text h3 {
  color: #335A8C;
  font-size: 1.5em;
}

.blog-post-text h4 {
  color: #335A8C;
  font-size: 1.25em;
}

.blog-post img {
  display: block;
  max-width: 1000px;
  margin: 0 auto 1em;
}

.blog-post-text a {
  color: #335A8C;
  text-decoration: underline;
}

.list-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.list-div li {
  font-size: 2em;
  padding: 0.5em;
  color:#32debc;
}

ol li {
  font-size: 1em;
  padding: 0.5em;
  color:#32debc;
  margin-left: 1em;
}

.special,
.skill {
  margin-bottom: 2em;
}