* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  /* Color Palette used https://coolors.co/0e0d1c-1c234a-253b55-5cb7c1-32debc */
  /* Dark Purple: 0e0d1c */
  /* Dark Blue: 1c234a */
  /* Medium Blue: 253b55 */
  /* Light Blue: 5cb7c1 */
  /* Light Green: 32debc */
}

/*  Main Styling  */
html,
body {
  font-family: 'Futura', Tahoma, sans-serif;
  line-height: 1.7em;
}

body {
  background-color: #1c234a;
}

a {
  color: #333;
  text-decoration: none;
}

h1, 
h2, 
h3 { 
  padding-bottom: 0.5em; 
  letter-spacing: 4px;
  line-height: 1;
}

h1 {
  color: #32debc;
}
h2 {
  color: #0e0d1c;
  font-size: 2.5rem;
}


p { 
  color: #32debc;
  margin: 10px 0; 
}

main,
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
}

/* Nav */
nav {
  background: #0e0d1c;
  color: #5cb7c1;
  margin-bottom: 3em;
}   

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a { 
  color: #5cb7c1;
 }    

.logo {
  display: block;
  justify-content: flex-start;
  padding-top: 20px;
}    

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  
}   

.nav ul li a {
  font-weight: bold;
  display: inline-block;
  padding: 20px;
}

.nav ul li a:hover,
.nav ul li a.current {
  background: #335A8C;
  color: #B0D3E8;
}

.nav ul li a:active
 {
  background: #335A8C;
  color: #32debc;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.hero-image img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

/* Projects Gallery */
.gallery {
  text-align: center;
  padding: 100px 50px;;
}

.gallery div {
  border: #0e0d1c 3px solid;
  background-color: #335A8C;
  margin-bottom: 1em;
  padding: 2em 0;
}

.gallery h3 {
  color: #32debc;
  letter-spacing: 1px;
  padding: 0;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

.gallery p {
  letter-spacing: 1px;
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
}

.gallery .container {
  text-align: center;
  overflow: hidden;
}

.gallery img {
  padding: 0 1em;
  width: 40%;
  height: 40%;
}

/* About Page */
.about h2 span {
  color: #5cb7c1;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-content .about-info {
  width: 50%;
  margin: 1em 0;
}
.about-content img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

.about-content p {
  letter-spacing: 1px;
}

/* Blog Page */
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  border: #0e0d1c 3px solid;
  width: 80%;
  padding: 1em;
  margin-bottom: 1em;
}

.blog-text {
  width: 65%;
}

.blog-text p {
  letter-spacing: 1px;
}

.blog-box img {
  margin: 0;
  width: 30%;
  border-radius: 50%;
}

.blog-even {
  background-color: #335A8C;
}

/* Footer */
footer {
  text-align: center;
  background: #0e0d1c;
  color: #5cb7c1;
  padding: 20px;
  width: 100%;
  bottom: 0;
}